language: node_js
sudo: true
node_js:
- '5.3'
branches:
  except:
  - /^v[0-9\.]+/
before_install:
- npm install -g coveralls pr-bumper@^1.0.0 slimerjs phantomjs electron
- pr-bumper check
- slimerjs -v
before_script:
- git config --global user.email "ericwhite613@gmail.com"
- git config --global user.name "Eric White"
- git config --global push.default simple
- npm set progress=false
- git config credential.helper "store --file=.git/credentials"
- echo "https://${GH_TOKEN}:@github.com" > .git/credentials
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
script:
- npm run lint && ember tva --push-var='false'
install:
- npm install
- bower install
after_success:
- sed -i -- 's/SF:ember-cli-visual-acceptance\/\(.*\)/SF:addon\/\1.js/' coverage/lcov.info
  && rm -f coverage/lcov.info--
- cat coverage/lcov.info | coveralls
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
env:
  matrix:
  - CXX=g++-4.8
  global:
    secure: jgS4W5ZHVtQdoPctfo/ik8BDsKNOxtjQKzGXApLWySUfI3I9nwbELalKHJBQxTexPKlcCzO/6xStqTnQfR6+R2Hkiwizv8LlwsJij8vgvB6WCb85pjrPdj87r8VYaP8D5zIUSb9ZL1DpW+exKEAS0Jhk9NUVUvBVh3OHKSsvGlG3jlKskZx7yzJojAsjk4ASx/sRUbCHNiv/hEndVTJaLzOSTBTbRhmH2960+6gRhwplvHtCviALEkTXsNhDZ324Yb0Z8LJ2uol3fLOKahDl7lKpUNqkBWXeEfOUX2o91LcjF1CVv7XyIikh171cbYag2FWKqWPrgce5T0mItG7DHXP6qgEBgpg/Cp89fD1Vp3stqlF5WwNsndj2k9GGfaqGtF5OUSrkd0dyzfxOgRp+q423MCjP000OBsq++mKeqmTHvvfvgaod5vqDP2VURcnd859AVIZYuG10AzrYnXabs5dkNJxAJpq2pTUdyoFSPQj7QQucz2Eu/CFh4xJ3/FBMf1NkqXWqNgcMeYUlCfSQF8foXcDVGI7gfq9g6rBfkhB2JS+RP+EBIKvY/YNgIbWqgREPP0/a9va/WVYa08IUWEX1OJCHucO5Sa4y8FeBVaoh08u2JFemr3TZElL01tTXHhLMpfaTIwiGD3dW4qoDJjOC3gmag4qRVPY5wvX8FC8=
before_deploy:
- pr-bumper bump
deploy:
  provider: npm
  email: npm.ciena@gmail.com
  skip_cleanup: true
  api_key:
    secure: WenKmS6oBrjAW+O4xkilvbPttja8AH+MJLDGnWifS8W+N+dQ0N8Z5XXZa28FEViUczIm71G5WgkTWo2j4HuEEk/aUnL3jWSUmXYKCv4GAkeBxD+oF/2t42WRrMs50YeLAyNRP4JsR8sr9OoUpQQrshZs2c99X7cMWOdgQNwg/Hr0rGGPIj1tkh1s0lMTy8ZkdZFwVkeyRXlbMwcXsw6tQkG+LyFG/EIt7kxGxIgUhPMRMltJbpHSb9NluqBxEzxqvZ+op6wpOTYx54VRn2zV1JC1S+6p/dFdXvNNZ2IszvZWkkwnV7ferRNlssaWAUvnHkf7KlBgXNbYoNi/h4CVNRyK/l14cIkXcXScZ9ftcTJa8E3zQtLbe5n758SY9UeWthKqwlkBOfi8w+e9J15WBrnxyYqtdTOXjE/dlnCqHhKYlkhc1e0wTA/RDYB7wQ7skRfT0xfzbTfL5oPc4kJSlaqvVzjS06uDYKS4M+bvftatsHZHEasKVJSIdTQPSDn83kMvG/+3tk4z3HdKVL0fvdrXOdMPyEzGAZXjaSYs1I9AeYsTlds687S+nN2faY5pagpUDQ3cLPiDfvpndvjnXRyHdtJTHljiNm4piOrru+akn4Rc8Y9FUfE4JRpFal7YgPQ6em0YxCmGbDVbR3jaiLl19aO6zfJLRmQPUmhMDLE=
  on:
    branch: master
    tags: false
after_deploy:
- .travis/publish-gh-pages.sh
notifications:
  slack:
    secure: Jj9cqqMQBfw4uCTPvjBOpeE956bz8oRlXJk2um/rMrfN5CC/n+gYgf8jwa3f1e7JuxaEiWf9+zmKJe73nhte4tA08W3+PmN+OWnojRR0bxxJG4Momp+23u0Cjlg2dRO7v+anEgkIcwPYicE0gyMIzW8PQzbZRNphcVstWHcGse7BI0hQ80YKxrCiuiTcQohnKvczPfsSCRlLdY+3JJlMzLnvksEmZU4JdcoegK57DOoGkXVQLPRuYTsIvuRtF8LI0wD6xi1be7LDrK6PSpP9x+Ga1Wh5u++27apjsLTxjnJ57DjOGDpQ8iFJUVMr/pc6iy1QHHdFo356YQZrLDP5EVLBE47DQuTXGH0CUtXy2oz5hoX44Tmw52BFlOoedjDmuuOy24CzAONqceTyJEruTlGn2HTQVVoRX7ScscV9Bs9gfYqSfw0KvjTN0mb2a6vUCEBA2ldo8yoneJl4upms+lffZQsNCHIdA8btOf4ucCevJXJfxiOZpq9nHgwu7GdbqdT8Toh4cqiMzP6XgE4TpUJHUpJo4KmgfSDfc8JcQ8egPY7e7UvFZqWMCNGs9EFQt40iGD+KrzidhZRq6MsA1qZWC96n6JX4/kvPpr/1aiS7OkFkmC4E9aBExnVwDYAIoTwv2+Rh7KY0eZGcTcrzNTPdHdaCVUDFnWdQ9NrqjBI=
