.outer {
  background: gray;
  display: block;
  height: 144px;
  margin: auto;
  
  position: relative;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;  
  
  width: 50%;
  
  -webkit-column-count: 3;
  column-count: 3;
}

.innerdivs {
  border: 1px solid red;
  height: 142px;
  text-align: justify;
  width: 100%;
}

.right {
  background-color: blue;
}

.left {
  background-color: green;
}

.center {
  background-color: yellow;
}
.fixed {
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 10px;
  font-family: Arial;
  background: #fffea1;
  border: 1px solid #fc0;
}

#left {
    width: 20%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: red;
}
#right {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: blue;
}